<p>Dear <%= @order.name %></p>

<p>
Thank you for your recent order from The Cilsy Book Store.
You ordered the following items:
</p>

<p>
<%= render @order.line_items %>
</p>

<p>
We'll send you a separate e-mail when your order ships.
</p>
